@{
    ViewBag.Title = "FAQ";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            background-color: #f9f4e5;
            font-family: 'Open-Sans', sans-serif;
        }
    </style>
</head>


<body >
 
    
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <h2 class="featurette-heading">
            About Team Bearings:
            <!-- <span class="text-muted"></span> -->
        </h2>
            <br />
            <br />
            <br />
     

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="meet">Meet the team</h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="~/Content/Images/sharonpic.jpg" alt="sharonppic"/>
                    <div class="caption">
                        <h3>Sharon Parks</h3>
                        <p>- Creator of Meeba</p>
                        <p>
                            <a href="https://www.linkedin.com/in/sharonparks/" class="btn btn-primary">LinkedIn</a> <a href="https://sharonp17.github.io/" class="btn btn-primary">GitHub</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="~/Content/Images/campic.jpg" alt="cameronpic"/>
                    <div class="caption">
                        <h3>Cameron Denton</h3>
                        <p>- Controllers</p>
                        <p>
                            <a href="https://www.linkedin.com/in/camerontdenton/" class="btn btn-primary">LinkedIn</a> <a href="https://camdenton.github.io/" class="btn btn-primary">GitHub</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="~/Content/Images/mattpic.jpg" alt="mattfpic"/>
                    <div class="caption">
                        <h3>Matthew Fothergill</h3>
                        <p>- Database</p>
                        <p>
                            <a href="https://www.linkedin.com/in/matthewfothergill/" class="btn btn-primary">LinkedIn</a> <a href="https://github.com/matthewfothergill" class="btn btn-primary">GitHub</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="~/Content/Images/IMG_0418.JPG" alt="marissapic"/>
                    <div class="caption">
                        <h3>Marissa Lane</h3>
                        <p>- Layout/Front-End</p>
                        <p>
                            <a href="https://www.linkedin.com/in/marissanlane/" class="btn btn-primary">LinkedIn</a> <a href="https://mlane0399.github.io/" class="btn btn-primary">GitHub</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>