<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Full Width Image Header -->
    <div class="header-image">
        <div class="headline">
            <div class="brandName">
                <h1>Bearings</h1>
                <p class="motto" >Mindful planning, for peaceful living</p> 
                
                <script>
                    <input type="button" onClick="document.getElementById('middle').scrollIntoView();" />;
                </script>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div align="center" class="featurette" id="about">
         
            <h2 class="featurette-heading">
                Bearings Is:
                <!-- <span class="text-muted"></span> -->
            </h2>
            <p class="lead">Bearings is a tool to help you live your life in a more mindful, self-preserving way.<br /> With use, you'll be able to gain insight into how you use your time and whether or not you've made space for yourself.</p>
        </div>

        <hr class="featurette-divider" color="black">

        <!-- Second Featurette -->
        <div align="center" class="featurette" id="services">
            
            <h2 class="featurette-heading">
              Who is Bearings for?
                <!-- <span class="text-muted"></span> -->
            </h2>
            <p class="lead">  Anyone and Everyone!<br /> Bearings is simply a tool for reflection. While we hope everyone reflects on how they spend their time, Bearings may be most beneficial to individuals with busy schedules and/or those who experience stress/anxiety related issues.</p>
        </div>

        <hr class="featurette-divider">



    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>